.linearBG{
    background-image: linear-gradient(to bottom, #26CDBD,#16756C,#13675F);
    position: relative;
    overflow: hidden;
}

.phone-input2 .react-tel-input .special-label + .form-control {
    width: 76% !important;
}

@media screen and (max-width: 576px) {
    .phone-input2 .react-tel-input .special-label + .form-control {
        width:58% !important;
        min-width: 245px;
    }
}