.linearBG{
    background-image: linear-gradient(to bottom, #26CDBD,#16756C,#13675F);
    position: relative;
    overflow: hidden;
}


.helpDiv {
    position: relative;
    display: inline-block;
    /* margin-top: 20px; */
}

.helpDiv[title]:hover::before{
    color: red;

}

.helpDiv[data-title]:hover:after {
    text-align: center;
    min-width: 130px;
    background-color: #FDC11F;
    border-radius: 10px;
    color: white !important;
    font-size: 14px;
    text-transform: uppercase;
    padding: 2px 15px;
    content: attr(data-title);
    position: absolute;
    left: 100%;
    word-wrap: normal;
    border: 1px solid #121212;
    z-index: 10000;
}