@tailwind base;
@tailwind components;
@tailwind utilities;


input,textarea{
    border-top-right-radius: 50px 50px;  
    border-bottom-right-radius: 50px 50px;
    border-top-left-radius: 50px 50px;  
    border-bottom-left-radius: 50px 50px;
}